# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.
   **Objectives:**
   - List popular languages for Data Science
   - List some Tools for Data Science
   - List commonly used libraries for Data Science
   - Create a few examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
- Python
- R
- HTML
- SQL
- Scala
- C++

Some of the commonly used libraries used by Data Scientists include:

- Pandas
- NumPy
- Matplotlib
- Keras
- TensorFlow
- Apache Spark
- Vegas
- ggplot 2

|Data Science Tools |
----------------------
|My SQL |
|Jupyter Labs |
|R Studio |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [20]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [19]:
minutes = 200
hours = 200/60
print(hours, "hours")
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335 hours

## Author
Jonathan Seda II